.text {
  font-size: 30px;
  font-weight: 600;
  padding: 50px;
  color: red;
}

.text {
  animation: color-text 5s infinite alternate linear;
}

@keyframes color-text {
  100% {
    color: black;
  }
}