.grid {
  width: 1000px;
  height: 500px;
  margin: 200px auto;
  border: 5px solid rgb(0, 7, 0);
}

.grid-item {
  background-color: rgb(70, 70, 199);
  border: 3px solid rgb(27, 138, 158);
}

.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 150px 1fr 1fr;
  grid-template-rows: repeat(2, 1fr); */
  grid-template: repeat(2, 1fr) / 1fr 1fr 150px 1fr 1fr;
}